### **Exercise1:**

Give students in the `example.csv` file a bonus of 5 for all the courses. Find a way to replace all the values that are now greater than 30 by 30. Save the new data to a file. Make a plot with histograms for every course in the example file.

In [1]:
import pandas as pd
import numpy as np

In [17]:
#d1=pd.read_csv(r'C:\Users\Ron\Desktop\example.csv'  or '/home/jaurel/miniconda3/envs/my_new_env/ScientificPython_diploma23-main/example.csv')
d1 = pd.read_csv('example.csv'   ,   index_col=0   )
def f1(x):
    return x+5
d2=d1.apply(f1)

In [13]:
print(d1) 
print(d2)

        course1  course2  course3  course4
name
Marie        24       18       30       20
John         18       27       29       27
Kati         21       24       28       27
Olaf         30       30       29       30
Mark         24       25       27       21
Olga         23       26       30       30
Jean         18       28       26       24
Alex         19       20       27       27
Pier         24       29       23       26
Bennet       24       25       26       30
Luis         20       20       18       18
        course1  course2  course3  course4
name
Marie        29       23       35       25
John         23       32       34       32
Kati         26       29       33       32
Olaf         35       35       34       35
Mark         29       30       32       26
Olga         28       31       35       35
Jean         23       33       31       29
Alex         24       25       32       32
Pier         29       34       28       31
Bennet       29       30       31       35
Luis         25       25       23       23

In [18]:
def func(x):
    return 30
    #if y>30:
    #    return 30
    #else:
    #    return y

In [19]:
f2(5)

30

In [26]:
print(d1)
print(d2.apply(func))
#print(d3)

        course1  course2  course3  course4
name
Marie        24       18       30       20
John         18       27       29       27
Kati         21       24       28       27
Olaf         30       30       29       30
Mark         24       25       27       21
Olga         23       26       30       30
Jean         18       28       26       24
Alex         19       20       27       27
Pier         24       29       23       26
Bennet       24       25       26       30
Luis         20       20       18       18
course1    30
course2    30
course3    30
course4    30
dtype: int64

In [73]:
from copy import deepcopy

df=deepcopy(d2)

In [79]:
def change(df,cond):

    for i in list(df.columns):    

        df[i]=np.where(df[i]>cond,cond,df[i])
    return df

In [80]:
change(df,30)

        course1  course2  course3  course4
name
Marie        29       23       30       25
John         23       30       30       30
Kati         26       29       30       30
Olaf         30       30       30       30
Mark         29       30       30       26
Olga         28       30       30       30
Jean         23       30       30       29
Alex         24       25       30       30
Pier         29       30       28       30
Bennet       29       30       30       30
Luis         25       25       23       23

### **Exercise2:**

 - Read in the `cars.csv` file as a dataframe
 - Remove the row with the index 3, which contains a quote in the Model column.
 - Add a new column called Price with the following values: [8000, 6500, 7000, 6800, 7500, 7300, 7000, 9000, 6500, 7800]
 - Find the average Length of all the vehicles.
 - Find the median Price of all the vehicles.
 - Create a new dataframe that only contains the rows where the Price is greater than 7000.
 - Sort the dataframe in descending order by the Price column.

### **Exercise3**
 - create a random matrix with numpy
 - save it to file
 - read it back with numpy
 - calculate some statistcs on it with numpy 
 - read the same file with pandas
 - calculate the same statistics on it with pandas